.contact-container
{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  margin: 50px auto;
  color: #fff;
  background: var(--gray);
  border: solid var(--yellow);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  scroll-behavior: smooth; 
}
.contact__title
{
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.contact__form
{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 20px auto;
  gap: 6px;
}
.contact__form label
{
  padding-left: 12px;
  font-size: 1.2rem;
}
.contact__form input,
.contact__form textarea
{
  background: hsla(0, 0%, 100%, .1);
  border: 1px solid hsla(0, 0%, 100%, .5);
  border-radius: 12px;
  color: #fff;
  padding: 14px 26px;
  transition: .3s ease-in-out;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .8px;
  margin: 0 0 8px;
}
.contact__btn
{
  max-width: 200px;
  max-height: 60px;
}
@media (min-width: 765px)
{
  .contact-container
  {
    width: 75%;
    height: fit-content;
  }
  .contact__title
  {
    text-align: center;
    font-size: 3rem;
    margin-top: 40px;
    padding: 10px;
  }
  .contact__form
  {
    min-width: 400px
  }
  .contact__form textarea
  {
    height: 150px;
  }
}
@media (min-width: 1024px)
{
  .contact-container
  {
    max-width: 700px;
  }
}