.home-container
{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  margin: 60px auto;
}

.container {
  text-align: center;
  padding: 1em;
  margin: 80px auto;
  width: 90%;
  max-width:400px;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 2px rgba(175, 187, 45, 0.5);
} 

.container h1,
.animate-text-container,
.demo-item {
  display: block;
  font-weight: 400;
}

.container h1 {
  font-size: 1.75em;
  height: 112px;
  padding: .5em;
  background-color: var(--gray);
  color: #fff;
}


/*The good stuff*/
.animate-text-container,
.demo-item {
  height: 80px;
}

.animate-text-container {
  overflow: hidden;
  background-color: var(--bg-gray);
  color: #FFFFFF;
}

.demo-item {
  position: relative;
  font-size: 1.5em;
  padding-top: .75em;
  animation: animatetotop 6s steps(3) infinite;
}

.demo-item_inner,
.demo-item-overlay {
  display: inline-block;
}

.demo-item_inner {
  position: relative;
  line-height: 1;
}

.demo-item_inner:after {   
  content: "";
  position: absolute;
  top:-1px;
  right:0;
  bottom:-2px;
  left:0;
  border-left: 1px solid #FFFFFF;
  background-color: var(--bg-gray);
  animation: animatetoright 1s steps(10) infinite alternate;
}

@keyframes animatetoright {
  0% {
    left: 0;
    margin-right: auto;
  }
  100% {
    left: 100%;
    margin-left: .6em;
    margin-right: -.6em;
  }
}

@keyframes animatetotop {
  0% {
    top: 0;
  }
  100% {
    top: -240px;
  }
}

.home__btn-container
{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 90%;
  gap: 40px;
}
.home__btn
{
  background: var(--orange);
  border: none;
  color: #fff;
  width: 30vw;
  height: 8vh;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px var(--gray);
}
.home__btn:hover
{
  cursor: pointer;
}

@media (min-width: 765px)
{
  .container
  {
    max-width: 1200px;
    width: 500px;
  }
  .home__btn
  {
    max-width: 230px;
    font-size: 1.6rem;
  }
}
@media (min-width: 1024px)
{
  .home-container
  {
    max-width: 700px;
  }
}
