.projects__container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 50px auto;
  background: var(--gray);
  border: solid var(--yellow);
  border-radius: 12px;
}
.projects__container
{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.projects
{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.projects__title
{
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin: 10px auto;
  padding: 10px;
}
.projects__img-container
{
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 2px rgba(175, 187, 45, 0.5);
  padding: 10px;
}
.projects__container img
{
  width: 100%;
}
.projects__container img:hover
{
  cursor: pointer;
}
@media (min-width: 765px)
{
  .projects__container
  {
    width: 75%;
    height: fit-content;
    padding: 50px;
  }
  .projects__title
  {
    font-size: 3rem;
    margin-top: 40px;
  }
}
@media (min-width: 1024px)
{
  .projects__container
  {
    max-width: 700px;
  }
  .projects__title
  {
    margin-top: 0;
    padding-bottom: 40px;
  }
}